:root {
  --light-grey: #e7e7e7;

  --light-shadow: #cecece;
  --dark-shadow: #a7a7a7;

  --light-green: #067a463b;
  --main-green: #067a46;
  --dark-green: #056835;
}

button:hover {
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.App {
  position: relative;
}
